<!-- 底部部分 开始 -->
<div class="loan-footer" style="
        padding: 20px 20px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background-color: #2F4056!important;
        border-top: 1px solid #e2e2e2;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" th:fragment="commonFooter">
    <p >
        <a href="" style="color: rgba(255,255,255,.7)">惠农在线贷款</a>
        <span style="color: rgba(255,255,255,.7)">2019 @</span>
        <a href="" style="color: rgba(255,255,255,.7)">www.hnzx1688.com</a>
    </p>
    <p style="color: white">
        <a href="" style="color: rgba(255,255,255,.7)">付费计划</a>
        <a href="" style="color: rgba(255,255,255,.7)">组件平台</a>
        <a href="" style="color: rgba(255,255,255,.7)">模板市场</a>
        <a href="" style="color: rgba(255,255,255,.7)">年度案例</a>
        <a href="" style="color: rgba(255,255,255,.7)">公众号</a>
    </p>
    <p>
        <a href="" style="color: rgba(255,255,255,.7)">感谢一下赞助商</a>
    </p>
</div>
<!-- 底部部分 结束 -->