<!-- 底部部分 开始 -->
<div class="loan-footer" style="margin: 40px 0px 0px;
        padding: 20px 20px;
        line-height: 30px;
        text-align: center;
        color: #737573;
        background-color: #f2f2f2;
        border-top: 1px solid #e2e2e2;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" th:fragment="commonFooter">
    <p>
        <a href="">惠农在线贷款</a>
        2019 @
        <a href="">www.hnzx1688.com</a>
    </p>
    <p>
        <a href="">付费计划</a>
        <a href="">组件平台</a>
        <a href="">模板市场</a>
        <a href="">年度案例</a>
        <a href="">公众号</a>
    </p>
    <p>
        <a href="">感谢一下赞助商</a>
    </p>
</div>
<!-- 底部部分 结束 -->