<!-- 导航部分 开始 -->
<ul class="layui-nav layui-bg-cyan" lay-filter="">
    <li class="layui-nav-item">
        <a href="/index">首页</a>
    </li>
    <li class="layui-nav-item layui-this">
        <a href="">农户财务简表</a>
    </li>
    <li class="layui-nav-item">
        <a href="">贷款信息</a>
    </li>
    <li class="layui-nav-item">
        <a href="">经营情况信息</a>
    </li>
    <li class="layui-nav-item">
        <a href="">资料上传</a>
    </li>
    <li class="layui-nav-item">
        <a href="">个人信息</a>
    </li>
    <!--<div class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child"> &lt;!&ndash; 二级菜单 &ndash;&gt;
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </div>-->
</ul>

<ul class="layui-nav layui-bg-cyan" style="position: absolute; top: 0; right: 0">
    <li class="layui-nav-item">
        <a href="">登录</a>
    </li>
    <li class="layui-nav-item">
        <a href="">退出</a>
    </li>
</ul>
<!-- 导航部分 结束 -->