<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnzx.loan.mapper.LoanMapper">

    <!-- 基本表 开始 -->
    <sql id="BASE_TABLE">
        tb_user
    </sql>
    <!-- 基本表 结束 -->

    <!-- 基本列 开始 -->
    <sql id="BASE_COLUMN">
        user_id, username, password, avatar, gender, age, id_card, ancestral_home, current_residence,
        family_population, remark, create_time, update_time
    </sql>
    <!-- 基本列 结束 -->



</mapper>