<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/default :: common_header(~{::title},~{::link})">
    <title>资料上传</title>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>

    <!-- 导航部分 开始 -->
    <div th:replace="~{common/header::commonHeader}"></div>
    <!-- 导航部分 结束 -->

    <div class="layui-container comment">
        <div class="layui-row">
            <div class="layui-col-md-offset3 layui-col-md6">

                <h2 style="text-align: center;font-weight: bold;margin-bottom: 25px">请您上传资料</h2>

                <div class="layui-row" style="margin-bottom: 25px">
                    <div class="layui-upload-drag layui-col-md6" id="IDCard">
                        <i class="layui-icon"></i>
                        <p>夫妻双方身份证正反面</p>
                    </div>
                    <div class="layui-upload-drag layui-col-md6" id="accountBook">
                        <i class="layui-icon"></i>
                        <p>户口簿</p>
                    </div>
                </div>

                <div class="layui-row" style="margin-bottom: 25px">
                    <div class="layui-upload-drag layui-col-md6" id="marriageCertificate">
                        <i class="layui-icon"></i>
                        <p>结婚证</p>
                    </div>
                    <div class="layui-upload-drag layui-col-md6" id="landCertificateOrLandContract">
                        <i class="layui-icon"></i>
                        <p>土地证或土地承包合同</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{common/footer::commonFooter}"></div>
</body>

<script>
    layui.use('element', function () {
        var element = layui.element;
    });

    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    //文件上传
    layui.use('upload', function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        
        upload.render({
            elem:"#IDCard",
            url: '/file/upload?type=1' ,
            done: function (res) {
                console.log("上传身份证")
            }
        });

        upload.render({
            elem:"#accountBook",
            url: '/file/upload/'+2,
            done: function (res) {
                console.log("上传户口簿")
            }
        });

        upload.render({
            elem:"#marriageCertificate",
            url: '/file/upload?type=3',
            done: function (res) {
                console.log("上传结婚证")
            }
        });

        upload.render({
            elem:"#landCertificateOrLandContract",
            url: '/file/upload?type=4',
            done: function (res) {
                console.log("上传土地证或土地承包合同")
            }
        });

    });
</script>
</html>